body {
	display            : none;
	user-select        : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	-ms-user-select    : none;
}

#hold {
	left  : 20px;
	top   : 20px;
	width : calc(var(--slmin) * 4);
	height: calc(var(--slmin) * 4);
}

#board {
	left  : 180px;
	top   : 20px;
	width : calc(var(--sl) * var(--w));
	height: calc(var(--sl) * var(--h));
}

#next {
	position: absolute;
	left    : 600px;
	top     : 20px;
	width   : calc(var(--slmin) * 4 + 2px);
	height  : calc(var(--nextlen) * (var(--slmin) * 4 + 20px) - 20px + 2px);
}

#next .next {
	left  : 0px;
	top   : calc(var(--n) * (var(--slmin) * 4 + 20px));
	width : calc(var(--slmin) * 4);
	height: calc(var(--slmin) * 4);
}

#hold,
#board,
#next .next {
	position        : absolute;
	overflow        : hidden;
	background-color: #fff;
	border-style    : solid;
	border-width    : 1px;
	border-color    : #aaa;
}

#textboard {
	left: 15px;
	top : 160px;
}

#overboard {
	display: none;
}

#keysetboard {
	display: none;
}

#otherboard {
	display: none;
}

#mainboard,
#overboard,
#keysetboard,
#otherboard {
	position: absolute;
	left    : 180px;
	top     : 20px;
	width   : calc(var(--sl) * var(--w) + 2px);
	height  : calc(var(--sl) * var(--h) + 2px);
}

svg {
	position: absolute;
}

text {
	stroke-linejoin  : round;
	font-size        : 20px;
	font-family      : Microsoft JhengHei;
	text-anchor      : middle;
	dominant-baseline: middle;
}

#keyset text,
.check text {
	text-anchor: start;
}