body {
	opacity            : 0;
	user-select        : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	-ms-user-select    : none;
}

#hold {
	left  : 20px;
	top   : 20px;
	width : calc(var(--slmin) * 4);
	height: calc(var(--slmin) * 4);
}

#board {
	left  : 180px;
	top   : 20px;
	width : calc(var(--sl) * var(--w));
	height: calc(var(--sl) * var(--h));
}

#next {
	position: absolute;
	left    : 600px;
	top     : 20px;
}

#next .next {
	left  : 0px;
	top   : calc(var(--n) * (var(--slmin) * 4 + 20px));
	width : calc(var(--slmin) * 4);
	height: calc(var(--slmin) * 4);
}

#hold,
#board,
#next .next {
	position        : absolute;
	overflow        : hidden;
	background-color: #fff;
	border-style    : solid;
	border-width    : 1px;
	border-color    : #aaa;
}

#senttext {
	left: 15px;
	top : 160px;
}

#sentnum {
	left: 15px;
	top : 220px;
}

#timetext {
	left: 15px;
	top : 300px;
}

#timenum {
	left: 15px;
	top : 360px;
}

#b2btext {
	left   : 27.5px;
	top    : 400px;
	opacity: 0;
}

#spintext {
	left   : 12px;
	top    : 560px;
	opacity: 0;
}

#linetext {
	left   : 12px;
	top    : 600px;
	opacity: 0;
}

#combonumtext {
	left   : 45px;
	top    : 660px;
	opacity: 0;
}

#combotext {
	left   : 5px;
	top    : 720px;
	opacity: 0;
}

#mainboard {
	z-index: 1;
}

#overboard {
	z-index: -1;
}

#keysetboard {
	z-index: -1;
}

#otherboard {
	z-index: -1;
}

#mainboard,
#overboard,
#keysetboard,
#otherboard {
	position: absolute;
	left    : 180px;
	top     : 20px;
	width   : calc(var(--sl) * var(--w) + 2px);
	height  : calc(var(--sl) * var(--h) + 2px);
}

svg {
	position: absolute;
}

text {
	stroke-linejoin  : round;
	font-size        : 20px;
	font-family      : Microsoft JhengHei;
	text-anchor      : middle;
	dominant-baseline: middle;
}

#keyset text,
#openghosttag text,
#spinbonustag0 text,
#spinbonustag1 text,
#spinbonustag2 text,
#spinbonustag3 text {
	text-anchor: start;
}