body {
	opacity            : 0;
	user-select        : none;
	-moz-user-select   : none;
	-webkit-user-select: none;
	-ms-user-select    : none;
}

#hold {
	top : 20px;
	left: 20px;
}

#board {
	top : 20px;
	left: 180px;
}

#next {
	position: absolute;
	top     : 20px;
	left    : 600px;
}

#next .next {
	left: 0px;
}

#hold,
#board,
#next .next {
	position        : absolute;
	overflow        : hidden;
	background-color: #fff;
	border-style    : solid;
	border-width    : 1px;
	border-color    : #aaa;
}

#senttext {
	top : 160px;
	left: 15px;
}

#sentnum {
	top : 220px;
	left: 15px;
}

#timetext {
	top : 300px;
	left: 15px;
}

#timenum {
	top : 360px;
	left: 15px;
}

#b2btext {
	top    : 440px;
	left   : 27.5px;
	opacity: 0;
}

#spintext {
	top    : 560px;
	left   : 12px;
	opacity: 0;
}

#linetext {
	top    : 600px;
	left   : 12px;
	opacity: 0;
}

#combonumtext {
	top    : 660px;
	left   : 45px;
	opacity: 0;
}

#combotext {
	top    : 720px;
	left   : 5px;
	opacity: 0;
}

#hold div,
#hold img,
#board div,
#board img,
#next .next div,
#next .next img {
	position: absolute;
}

#mainboard {
	z-index: 1;
}

#logotext {
	top : 100px;
	left: 10px;
}

#playtext {
	top : 300px;
	left: 50px;
}

#keybttext {
	top : 420px;
	left: 50px;
}

#otherbttext {
	top : 540px;
	left: 50px;
}

#overboard {
	z-index: -1;
}

#gameover {
	top : 170px;
	left: 25px;
}

#timeup {
	top : 170px;
	left: 25px;
}

#overoktext {
	top : 420px;
	left: 50px;
}

#keysetboard {
	z-index: -1;
}

#keyset {
	top : 12px;
	left: 12px;
}

#keysetoktext {
	top : 700px;
	left: 100px;
}

#otherboard {
	z-index: -1;
}

#gameset {
	top : 12px;
	left: 12px;
}

#otheroktext {
	top : 700px;
	left: 100px;
}

#mainboard,
#overboard,
#keysetboard,
#otherboard {
	position: absolute;
	top     : 20px;
	left    : 180px;
	width   : 402px;
	height  : 810px;
}

#senttext,
#sentnum,
#timetext,
#timenum,
#b2btext,
#spintext,
#linetext,
#combonumtext,
#combotext,

#logotext,
#playtext,
#keybttext,
#otherbttext,
#gameover,
#timeup,
#overoktext,
#keyset,
#keysetoktext,
#gameset,
#otheroktext {
	position   : absolute;
	font-size  : 20px;
	font-family: Microsoft JhengHei;
}